/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #8300b3, #e40a53);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.745);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    /* Center the container horizontally */
    margin: 40px auto;
}

h1 {
    text-align: center;
    color: #8300b3; /* Purple color for heading */
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 28px 24px 24px; /* Decreased padding for smaller button */
    font-size: 14px; /* Decreased font size */
    border: none;
    background-color: #8300b3;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    margin-top: 20px; /* Push the button away from the container */
    margin-left: 20px;

}
button:hover {
    background-color: #6a008a; /* Darker shade on hover */

}

ul {
    list-style-type: none;
    padding: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 24px; /* Larger font size for smaller screens */
    }

    button {
        padding: 10px 20px; /* Adjusted padding for smaller screens */
        font-size: 12px; /* Decreased font size further */
    }
}
